.mybox {
  width: 100%;
  padding: 10px 0 10px 10px;
}
.mybtn {
  display: inline-block;
  width: 93px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  background-image: url('../img/Storeroom_Checked.png');
  background-size: 100% 100%;
  text-align: center;
}
.left_btn {
  position: absolute;
  right: 20px;
  top: 10px;
  width: 93px;
  height: 30px;
  line-height: 30px;
  background-image: url('../img/Storeroom_Checked.png');
  background-size: 100% 100%;
}
